# =========================
# Entornos y sistema
# =========================
venv/
.env
.env.*
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store


# ===== AttentionRank outputs =====
attentionrank/econstor/
econstor/
*/econstor/

attentionrank/**/processed_*
attentionrank/**/res*
attentionrank/**/docs*
attentionrank/**/predictions_*.jsonl

# =========================
# Outputs de MDERank
# =========================
mdeRank/data/*/
!mdeRank/data/README.md
mdeRank/logs/
mdeRank/results/

# =========================
# Logs y temporales
# =========================
logs/
*.log

# =========================
# Modelos entrenados (finetuning)
# =========================
models/
checkpoints/
*.bin
*.pt
*.safetensors

# =========================
# Datos grandes / intermedios
# =========================
*.csv
*.tsv


# =========================
# Cachés de librerías
# =========================
.cache/
wandb/